{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block head_title %}{% endblock %}</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://kit.fontawesome.com/c57123ccef.js" crossorigin="anonymous"></script>
  <title>Childder</title>
</head>

<body>
  <div class="bg-teal-500 bg-opacity-60 font-sans antialiased shadow-lg" id="app">
    <nav class="flex items-center justify-between flex-wrap p-1 px-3">
      <div class="flex items-center flex-no-shrink text-white mr-6 ">
        <a href="{% url 'home' %}"><img src="/media/images/childderlogo.png" width="80" height="80" class="mx-auto mr-3 " alt="logo"></a>
        <span class="font-semibold text-xl tracking-tight">Childder</span>
      </div>
      <div class="grow-1">
        <a href="#"
          class="font-bold text-sm lg:inline-block lg:mt-0 text-black-200 sm:text-xl">
            {{request.user.username}}さん
        </a>
      </div>
      <div class="block md:hidden">
        <button @click="toggle" class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
      </div>
      <div :class="open ? 'block': 'hidden'" class="w-full  md:flex md:items-center md:w-auto ">
        <div class="text-sm md:flex-grow">
          <a href="{% url 'follow-list' %}"
          class="no-underline block mt-4 md:inline-block md:mt-0 text-white hover:text-gray-500 mr-4">
            フォローユーザーの投稿
          </a>
          <a href="{% url 'mypost' %}" class="no-underline block mt-4 md:inline-block md:mt-0 text-white hover:text-gray-500 mr-4">
            自分の投稿
          </a>
          <a href="/accounts/logout/" class="no-underline block mt-4 md:inline-block md:mt-0 text-white hover:text-gray-500 mr-4">
            ログアウト
          </a>
          <a href="{% url 'edit' %}"
            class=" no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-200 hover:bg-white mt-4 md:mt-0">
            投稿
          </a>
        </div>
      </div>
    </nav>
  </div>
  

      </nav>
      <script>
        new Vue({
          el: '#app',
          data: {
            open: false,
          },
          methods: {
            toggle() {
              this.open = !this.open
            }
          }
        })
      </script>

      {% block content %}
      {% endblock content %}
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

</html>