{% extends 'base.html' %}

{% block content %}
<div class="bg-blue-200 min-h-screen py-10">
  <div class="block m-5">
    <a href="{% url 'detail' post.pk %}"
      class=" border-2 border-gray-700 px-4 py-1 rounded-lg text-lg font-bold text-gray-700 shover:text-red-300  hover:bg-red-100 sm:text-xl">←投稿に戻る</a>
  </div>
  <div class="bg-white w-10/12 p-5 mx-auto rounded-xl shadow-xl text-gray-600 font-bold sm:10">
    <h1 class="text-lg  mb-5 text-center  sm:text-2xl">コメントや返信をしよう！</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="mt-2 flex justify-center">
        <button type="submit"
          class="mt-5 block border  bg-gray-700 w-1/2 mx-auto text-center text-blue-100 font-bold p-4 rounded-lg text-sm hover:bg-gray-300 sm:text-xl">送信</button>
      </div>
    </form>

  </div>
</div>

{% endblock %}