{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="w-4/5 mx-auto border-x-2 p-2  ">
    <div class="flex justify-between mb-5 mt-2">
        <div>
            <h1 class="font-bold block text-gray-500 hover:text-red-300 hover:underline decoration-red-500">
                <a href="{% url 'home' %}">
                    ←HOME
                </a>
            </h1>
        </div>
        <div>
            {% if post.user == request.user %}
            <a href="{% url 'update' post.pk %}"
                class="text-white border-2 bg-gray-600 px-2 py-1 rounded-lg mr-2 hover:bg-gray-400 sm:px-6 sm:py-2 text-sm sm:text-lg" tabindex="-1"
                role="button" aria-disabled="true"><i class="fa-solid fa-pen-to-square"></i>編集</a>

            <a href="{% url 'delete' post.pk %}"
                class="text-white border-2 bg-red-500 px-2 py-1 rounded-lg mr-2 hover:bg-red-300 sm:px-6 sm:py-2 text-sm sm:text-lg" tabindex="-1"
                role="button" aria-disabled="true"><i class="fa-solid fa-trash-can"></i>削除</a>
            {% endif %}
        </div>
    </div>
    <div class="flex justify-between items-center grow pb-2 border-b-2 border-gray-300">
        <div>
            <p class="font-bold text-2xl">{{object.user}}</p>
        </div>
        <div>
            {% if object.user in connection.0.following.all %}
            <a href="{% url 'follow-detail' object.pk %}"
                class="bg-gray-600 hover:bg-gray-300 text-sm text-white rounded px-4 py-2 rounded-2xl sm:px-10 sm:py-2" >Follow解除</a>
            {% else %}
            <a href="{% url 'follow-detail' object.pk %}"
                class="bg-blue-600 hover:bg-blue-300 text-sm text-white rounded px-4 py-2 rounded-2xl sm:px-10 sm:py-2" >Follow</a>
            {% endif %}
        </div>
    </div>

    <div class="w-11/12 mt-3">
        <p class="break-words text-sm sm:text-lg">{{object.content}}</p>
    </div>

    {% if object.image %}
    <img src="{{object.image.url}}" class="w-4/5 rounded-lg h-3/5 object-contain mx-auto shadow-lg mt-5" />
    {% endif %}

    <div class="mt-3 flex border-b-2 border-gray-300 pb-2">
        <div class="flex items-center">
            {% if request.user in object.like.all %}
            <a href="{% url 'like-detail' object.pk %}" class="like-btn add-color" tabindex="-1" role="button"
                aria-disabled="true"><i class='fa fa-heart' style='color: red'></i></a>{{object.like.count}}
            {% else %}
            <a href="{% url 'like-detail' object.pk %}" class="like-btn" tabindex="-1" role="button"
                aria-disabled="true"><i class='far fa-heart'></i></a>{{object.like.count}}
            {% endif %}
        </div>
        <div>
            <p class="text-sm text-gray-400 ml-5">{{ object.created_at}}</p>
        </div>

    </div>


    <!--コメント一覧-->
    <div class="my-3 text-center ">
        <h1 class="font-bold text-2xl underline decoration-gray-500">Comment-List</h1>
        <a href="{% url 'comment_create' post.pk %}"
            class=" block mt-4 mx-auto w-10/12 border-2 shadow-lg border-gray-700  px-4 py-2  bg-white  rounded-lg font-semibold  hover:bg-gray-300">
            記事にコメントする
        </a>
    </div>

    {% for comment in comment_list %}
    <div class="w-11/12  bg-white p-2 rounded-lg shadow-xl ml-auto border-2 mb-3">
        <h2 class="font-bold mb-2 text-gray-600 ">{{comment.user}}</h2>
        <p class="mb-2 break-words text-sm sm:text-lg">{{comment.content}}</p>
        {% if comment.image %}
        <img src="{{comment.image.url}}" class="w-4/6 rounded-lg  object-contain mx-auto shadow-lg " />
        {% endif %}


        <div class="text-right block mt-3 sm:flex sm:justify-between sm:items-center">
            <div>
                <p class="text-sm text-gray-400">{{ comment.created_at}}</p>
            </div>
            <div>
                <a href="{% url 'reply_create' comment.pk %}" class="inline-block text-sm px-2 py-1 leading-none border-2  shadow-lg border-gray-700 rounded-lg  my-2 hover:border-transparent hover:text-gray-300 hover:bg-white  md:mt-0 sm:px-6 sm:py-1 sm:text-lg">返信する</a>
            </div>
        </div>
        {% if comment.user == request.user %}
        <div class="text-right">
            <a href="{% url 'commentdelete' comment.pk %}"
                class="text-white border-2 bg-red-500 px-4 py-1 text-sm rounded-lg hover:bg-red-300 sm:px-6 sm:py-2 sm:text-lg" ><i class="fa-solid fa-trash-can"></i>削除</a>
        </div>
        {% endif %}


        <div class="mt-2">
        {% with reply_list=comment.comment_set.all %}
        {% include 'includes/reply.html' %}
        {% endwith %}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}