{% extends 'base.html' %}
{% block content %}
<div class="bg-blue-200 min-h-screen">
   <div class="p-4">
      <div class="block py-4">
         <a href="{% url 'home' %}"
            class=" border-2 border-gray-700 px-4 py-1 rounded-lg text-lg font-bold text-gray-700 hover:text-red-300  hover:bg-red-100 sm:text-xl">←HOME</a>
      </div>
      <div class="bg-white w-11/12 mx-auto rounded-xl shadow-xl text-gray-600 font-bold">
         <div class="p-4">
            <h1 class="text-2xl mb-5 text-center sm:text-3xl">投稿しよう！</h1>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
               {{ form.as_p }}
               <input type="submit" value="投稿"
                  class="mt-5 block border  bg-blue-500 w-1/2 mx-auto text-center text-blue-100 text-sm font-bold p-4 rounded-lg hover:bg-blue-300 sm:text-xl">
            </form>
         </div>
      </div>
   </div>
</div>



{% endblock content %}