{% extends 'base.html' %}
{% block content %}

<div class="bg-gray-500 min-h-screen">
   <div class="p-4">
      <div class="block py-4">
         <a href="{% url 'detail' post.pk %}"
            class=" border-2 border-white px-4 py-1 rounded-lg text-lg font-bold text-white hover:text-red-300  hover:bg-red-100 sm:text-2xl">←投稿に戻る</a>
      </div>
      <div class="bg-white w-10/12 mx-auto rounded-xl shadow-xl text-gray-600 font-bold">
         <div class="p-4">
            <h1 class="text-2xl sm:text-3xl mb-5 text-center ">編集しよう！</h1>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
               {{ form.as_p }}
               <input type="submit" value="投稿"
                  class="mt-5 block border  bg-blue-500 w-1/2 mx-auto text-center text-blue-100 font-bold p-4 rounded-lg text-sm hover:bg-blue-300 sm:text-xl">
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock content %}